body{
    background-color: #000000;
}

.block {
    position: relative;
    width: 700px;
    height: 200px;
    margin: 80px auto;
}

.block_btn {
    position: absolute;
    width: 100px;
    height: 35px;
    top: -40px;
    right: 0;
    background-color: blueviolet;
    cursor: pointer;
    z-index: 15;
}

.block_content {
    position: relative;
    width: 700px;
    height: 150px;
}

.block_content_container {
    width: 700px;
    height: 150px;
    margin-top: 50px;
}

.block_content_info {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    width: 700px;
    height: 150px;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
}

.info { 
    margin: 10px;
    color: blue;
}

.img {
    width: 130px;
    height: 130px;
    margin: 10px;
}

.block_content_tab {
    position: absolute;
    width: 60px;
    height: 30px;
    top: -30px;
    left: 0;
    padding-left: 5px;
    line-height: 30px;
    background-color: green;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.active {
    color: green;
    background-color: #ffffff;
}

.error {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    color: red;
    background-color: #ffffff;
}