body, 
html {
    height: 100vh;
	position: relative;
	margin: 0;
    padding: 0; 
    overflow-x: hidden;
    background-color: #f2f4f8;
}

ul,
li {
	list-style: none;
}	

a {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    width: 100%;
    min-height: 60px;
    background-color: #2d313d;
}

.header_wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hamburger {
    display: none;
    width: 17px;
    height: 20px;
    margin-left: 20px;
    position: absolute;
    top: 20px;
    left: 20px
}

.hamburger_line {
    width: 17px;
    height: 3px;
    margin-bottom: 2px;
    background-color: #ffffff;
}

.header_left {
    width: 32px;
    height: 20px;
    margin-left: 30px;
}

.header_right {
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.header_left_logo {
    width: 32px;
    height: 20px;
}

.header_right_city {
    width: 85px;
    height: 22px;
    font-size: 14px;
    border-bottom: 1px dashed #727989;;
    background-color: #2d313d;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    color: #727989;
}

.header_city option {
    background-color: #2d313d;
    border: none;
    outline: none;
}

.fa-angle-down,
.fa-bell,
.fa-envelope {
    width: 16px;
    height: 16px;
    color: #727989;
}

.header_right_user_photo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fa-search {
    width: 22px;
    height: 22px;
    color: #727989;
}

#menu {
    display: none;
}

.header_right_user {
    max-width: 135px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right_user_name {
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #727989;
}

.menu {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: #646d81;
}

.menu_list {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    padding: 0 0 0 20px;
    margin: 0;
}

.menu_list_item {
    display: flex;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    margin-right: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    border-top: solid #646d81 5px;
    transition-property: border-top;
    transition-duration: 1s;
}

.menu_list_item:hover {
    border-top: solid #ffffff 5px;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    background-color: #ffffff;
}

.main_sidebar {
    width: 170px;
    height: 100vh;
    /* height: 930px; */
    border-right: 1px solid #e0e4ed;
    padding-top: 20px;
}

.main_sidebar_menu {
    padding: 0;
    margin: 0;
}

.main_sidebar_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin: 0;
} 

.main_sidebar_menu_item {
    width: 115px;
    padding: 9px 28px 9px 23px;
    border-left: 5px solid #ffffff;
}

.main_sidebar_menu_item:hover {
    border-left: 5px solid #99a1b3;
}

.main_sidebar_menu_item_link {
    font-family: Arial;
    font-size: 14px;
    color: #99a1b3;
}

.main_sidebar_menu_title {
    margin-top: 32px;
    padding: 9px 0 9px 28px;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.main_content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_content_header {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main_content_header_title {
    height: 36px;
    margin-left: 30px;
    font-family: Georgia;
    font-size: 30px;
}

.main_content_header_select {
    width: 170px;
    height: 36px;
    margin-left: 28px;
    font-family: Georgia;
    font-size: 30px;
    border-bottom: dashed 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.main_content_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f4f8;
}

.main_content_menu_form {
    width: 284px;
    height: 42px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    /* color: #99a1b3; */
    border: 1px solid #d6d9e1;
    border-radius: 3px;
    
}

.main_content_menu_form_serch {
    width: 239px;
    height: 40px;
    border:none;
    padding-left: 10px;
    font: 14px Arial;
    outline: none;
    
}

.main_content_menu_form_serch::placeholder {
    color: #99a1b3;
}

.main_content_menu_form_button {
    width: 45px;
    height: 40px;
    border:none;
    background-color: #ffffff;
}

.fa-search::before {
    color: #99a1b3;
    font-size: 22px;
}

.main_content_menu_control {
    width: 195px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.main_content_menu_control_add {
    width: 62px;
    height: 14px;
    font-family: Georgia;
    font-size: 12px;
    color: #99a1b3;
}

.main_content_menu_control_switch {
    width: 16px;
    height: 18px;
    color: #99a1b3;
}

.main_content_window_item {
    width: 95%;
    min-height: 123px;
    margin: 30px;
    display: flex;
    justify-content: start;
}

.main_content_window_item_img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

/* .main_content_window_item_content {
    min-width: 100%;
} */

.main_content_window_item_content_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_content_window_item_content_header_user {
    width: 135px;
    display: flex;
    justify-content: space-between;
    
}

.main_content_window_item_content_header_user_name,
.main_content_window_item_content_header_status {
    font-family: Arial;
    font-size: 12px;
    color: #99a1b3;
}

.main_content_window_item_content_header_comments {
    width: 82px;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-size: 12px;
    color: #99a1b3;
}

.fa-comments::before,
.fa-clock-o::before {
    margin-right: 5px;
    font-size: 12px;
    color: #99a1b3;
}

.main_content_window_item_content_title {
    padding: 9px 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #4f9cd4;
}

.main_content_window_item_content_description {
    width: 95%;
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 14px;
}

.main_content_window_item_content_tags {
    display: flex;
    justify-content: start;
    font-size: 12px;
    font-family: Arial;
    color: #99a1b3;
}

.fa-tag::before {
    margin-right: 5px;
    font-size: 12px;
    color: #99a1b3;
}

.main_content_buttons {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.main_content_buttons_prev {
    margin-right: 10px;
    padding: 10px 18px 10px 13px;
    font-family: Arial;
    font-size: 14px;
    border:  1px solid #99a1b3;
    border-radius: 4px;
    color: #000000;
}

.main_content_buttons_prev:hover {
    box-sizing: border-box;
    border: 2px solid #99a1b3;;
}

.fa-angle-left::before {
    margin-right: 12px;
}

.main_content_buttons_next {
    padding: 10px 18px 10px 13px;
    font-family: Arial;
    font-size: 14px;
    border:  1px solid #99a1b3;
    border-radius: 4px;
    color: #000000;
}

.main_content_buttons_next:hover {
    box-sizing: border-box;
    border: 2px solid #99a1b3;;
}

.fa-angle-right::before {
    margin-left: 12px;
}

.main_content_footer {
    width: 100%;
    height: 90px;
    background-color: #f2f4f8;
}

.main_content_footer_menu {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 1px 0;
    padding-left: 0 0 0 30px;
    
}

.main_content_footer_menu_item {
    padding: 14px 0;
    margin: 0 18px 0 0;
    font-family: Arial;
    font-size: 14px;
    color: #99a1b3;
}

.main_content_footer_copyright {
    width: 100%;
    /* background-color: #f2f4f8; */
    padding: 14px 0 14px 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main_content_footer_copyright_img {
    width: 22px;
    height: 13px;
    margin-right: 10px;
}

.main_content_footer_copyright_text {
    font-family: Arial;
    font-size: 12px;
    color: #99a1b3;
}

@media screen and (max-width: 765px ) {
    .main_content_menu_form {
        width: 200px;
    }
    
    .main_content_menu_form_serch {
        width: 145px;
    }

    .main_content_menu_control {
        width: 150px;
    }
}

@media screen and (max-width: 640px ) {
    .hamburger {
        display: block;
    }
    .header_wrapper {
        justify-content: center;
    }

    .header_left {
        width: 100px;
        height: 45px;
    }

    .header_left_logo {
        width: 100px;
        height: 45px;
    }

    .header_right_user_photo {
        width: 40px;
        height: 40px;
    }

    .header_right {
        width: 200px;
        justify-content: center;
    }

    .header_right_city,
    .fa-bell::before,
    .fa-envelope::before,
    .header_right_user_name,
    .menu,
    .main_sidebar {
        display: none;
    }

    .hamburger_menu_list {
        width: 120px;
        flex-direction: column;
        padding-left: 10px;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: #2d313d;
    }

    .hamburger_menu_list li {
        margin-bottom: 10px;
        
    }

    .menu_list_item {
        font-size: 18px;
        color: #ffffff;
        border-top: solid #2d313d 5px;
    }
}
